*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: bold;
    
  
}

body {
    background-color: #09090B;
    position: relative;
    
}

.top {
    
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle at top center, rgba(0, 150, 255, 0.2), #09090B 70%);
    
}

.heading{
    color: white;
    
    font-size: 60px;
    text-align: center;
    padding-top: 20vh;



}

.heading-2{
    color: white;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
   
}

.description{
    padding-top: 2vh;
    color: #A1A1AA;
    text-align: center;
    
}

.download-div{
    color: black;
   display: flex;
   justify-content: center;
   padding-top: 2vh;
}



.download-btn:hover{
    background-color: #131318;
}

.download-btn:active{
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.download-btn{
    color: white;
    background-color: #09090B;
    width:15vh;
    height: 4vh;
    border-radius: 3vh;
    border: solid 1px rgb(78, 78, 78);
}






















.menu-bar-button{
    border:none;
    background-color:white;
}

.item{
    
    display: flex;
    border: 2px solid black;
    background-color:#232323;
    flex:1;
    flex-direction: column;
    
    
}
.title{
    font-size: 1.7rem;
}
.item-1{
    font-size: 1.6vw;
    border-radius: 20px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    max-width: 400px;
}
.item-2{
    max-height: 600px;
    flex-grow: 1.4;
    padding-left: 2%;
    padding-right: 1%;
    border-radius: 20px;
    display: flex;
    max-width: 800px;
}



.padding-for-item-2{
    width: 20px;
}
.a2 {
    padding-top: 4%;
    
    text-align: left;
}



.container {
    gap:1rem;
    display: flex;
    min-height: 90vh;  
    padding-left: 4rem;  
    padding-right: 4rem;
    justify-content: center;
    
}

.mac-address-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
    width: 95%;
    height: 17%;
    border-radius: 30rem;
    align-self: center;
    
}

/* .selected-mac-address-container{
    border: 2px solid black;
} */



.flexTable{
    padding-top: 3%;
    padding-left: 2%;
    padding-right: 2%;
    max-height: 70%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    
    text-align: center;
}
.column{
    display: flex;
    min-height: 10vh;
    padding-bottom: 1vh;
    text-align: center;
    align-content: center;
    font-size: 1rem;

   
}


.Data{
    display: flex;
    justify-content: center;
}


.hover-for-end{
    border: 2px solid;
    
    border-right-color: blue;
    border-top-color: blue;
    border-bottom-color: blue;
    border-left-color: #161616;
}

.hover-for-start{
    
    border: 2px solid ;
    border-right-color: #161616;
    border-top-color: blue;
    border-bottom-color: blue;
    border-left-color: blue;
    
    
}
.hover-for-data{
    border: 2px solid ;
    border-left-color: #1B1B1B;
    border-right-color: #1B1B1B;
    border-top-color: blue;
    border-bottom-color: blue;
}

.Start{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: #161616;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.End{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: #161616;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Data {
    padding-left: 2%;
    width: 60%;
    background-color: #1B1B1B;
    text-align: center;
    align-items: center;  
   
}

.gap{
    height: 3%;
}

.gap-for-2{
    height: 5%;
}
.info-container{
    background-color: #161616;
    border-radius: 25px;
    
    height: 82%;
}
.title-for-info{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 2rem;
}
.link-status{
    padding-bottom: 3rem;
    padding-left: 3%;
    font-size: 1.2rem;
}
.device-id{
    padding-bottom: 2%;
    font-size: 1.2rem;
}


.mac-address-title{
    display: flex;
    padding-bottom: 3vh;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.1rem;
}
.speed-id {
    padding-bottom: 5vh;
    padding-left: 3%;
}
.orginal-mac-address{
    padding-left: 2.5rem;
}
.active-mac-address{
    padding-left: 2.5rem;
}

.Change-Mac-Title{
    padding-top: 3vh;
    text-align: center;
}
.type-mac{
    display: flex;
    justify-content: center;
    
}

.random-button{
    display: flex;
    justify-content: center;
    color:black;
    
}
.random-button-ac{
    color:black;
}
.confirm-button{
    display: flex;
    justify-content: center;
    padding-bottom: 20%;
}
.confirm-button-ac{
    color: black;
}

.fa-solid{
    scale: 1.5;
    
}

.colorRed {
    color: red;
}
.colorGreen {
    color: green;
}
.colorYellow {
    color: yellow;
}










@media (min-width: 1000px) {
.flexbox-for-second-heading{
    display: flex;
    padding-left: 5%;
    justify-content: space-evenly;
    padding-right: 2vh;
    
}

.heading-3{
    overflow-wrap: break-word; /* modern, preferred */
    font-size: 2rem;
    max-width: 500px;
    font-size: 3rem;
}

.for-paragraph{
 
 font-size: 1rem;
 max-width: 50vh;
}
}

@media (max-width: 1000px) {
.flexbox-for-second-heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding-left: 5%;
    justify-content: space-evenly;
    
    
}
}


.bottom-padding{
    background: linear-gradient(to top,rgba(0, 150, 255, 0.1), #09090B );
 
    height:500px;
}
.flex{
    display: flex;
   
    justify-content: center;
}
img{
    display: flex;
    max-width: 80vh;
    
    justify-content: center;
}

.padding{
    height:200px
}

@media(max-width:750px) {
    img{
        max-width: 50vh;
    }

}